@import "../../scss_globals/mixins";

div {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include xl {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  gap: 1rem;
}

.grid-item {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#comics-page {
  flex-direction: column;
}

.comic-page-nav {
  flex: 1;
  flex-direction: row;
}
